h1 {
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
    font-size: 60px;
    color:rgb(222, 97, 105);
    text-align: center;
    text-decoration: none;
    background-color: rgb(36, 39, 46);
  }

img {
  margin-left: auto;
  margin-right: auto;
  display:block;
  }

p {
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  text-align:center;
  color:rgb(222, 97, 105)
  /* text-decoration-line:line-through; */
  }

.buttonStyle{
    color:seagreen;
    background-color: rgb(36, 39, 46);
  }

body {
    background-color:rgb(36, 39, 46);
}

.abstract {
font-size: large;
}

.nav-link {
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
}

.dropdown-menu {
  background-color: rgb(29, 33, 38);
}

.dropdown-item {
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  color: white;
}