h1 {
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
    font-size: 60px;
    color:rgb(222, 97, 105);
    text-align: center;
    text-decoration: none;
    background-color: rgb(36, 39, 46);
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display:block;
  }

  p {
    text-align:center;
    color:rgb(222, 97, 105)
    /* text-decoration-line:line-through; */
  }

  .buttonStyle{
      color:seagreen;
      background-color: rgb(36, 39, 46);
  }
  .accordionBodyStyle{
      font-size: medium;
    }
  .accordian-header{
      color:seagreen;
  }

  .accordian-body{
      color: greenyellow;
  }
  
  a {
      color: black;
      text-decoration: none;
      cursor:help;
      text-align: center;
  }

.rowStyle {
    text-align: center;
    font-size: large;
}

.accordionHeaderStyle {
    color: yellow;
    background-color: black;
}
body {
    background-color:rgb(36, 39, 46);
}

.abstract {
font-size: large;
}